.sidebar {
  width: 230px;
  max-height: 100vh;
  position: sticky;
  overflow-y: scroll;
  scrollbar-width: none;
  top: 16px;
  background-color: transparent;
  display: flex;
  padding-bottom: 117px;
  flex-direction: column;
  color: rgb(56, 56, 61);
  font-size: 14px;
  line-height: 20px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.sidebar__listItem {
  position: relative;
  display: flex;
  margin-bottom: 16px;
  padding: 12px 8px;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
}

.title {
  margin-bottom: 8px;
  padding-left: 16px;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  color: rgb(39, 39, 42);
}

.items a {
  display: flex;
  padding: 7px 16px;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  color: rgb(56, 56, 61);
}

.items a:hover {
  background: rgba(39, 39, 42, 0.12);
}

.item-icon {
  flex: 0 0 32px;
  height: 32px;
  margin-right: 8px;
  line-height: 0;
}

.item-icon-element {
  width: 32px;
  height: 32px;
  opacity: 1;
  object-fit: contain;
  display: block;
}

.item-content {
  display: flex;
  gap: 4px;
  -webkit-box-align: center;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: rgb(39, 39, 42);
}

.sidebar__sellerTiki {
  padding: 12px 8px;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
}
