.header__location {
  margin-bottom: 3px;
  max-width: 348px;
  flex: 0 0 348px;
}

.wrapper {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  -webkit-box-pack: end;
  justify-content: flex-end;
}

.wrapper img {
  width: 20px;
  height: 20px;
  margin-right: 4px;
}

.wrapper .title {
  margin: 0px;
  display: block;
  color: rgb(128, 128, 137);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  padding-right: 4px;
  white-space: nowrap;
}

.wrapper .address {
  text-decoration: underline;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgb(39, 39, 42);
}
