.wrapper {
  background-color: rgb(245, 245, 250);
  padding-top: 16px;
  padding-bottom: 16px;

  .breadcrumb {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
  }

  a.breadcrumb-item {
    position: relative;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(128, 128, 137);
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    white-space: nowrap;
  }

  .icon.icon-next {
    margin-left: 5.5px;
    margin-right: 8.5px;
  }

  a.breadcrumb-item:last-child {
    color: rgb(39, 39, 42);
    cursor: default;
    overflow: hidden;
  }

  a.breadcrumb-item:first-child:hover {
    color: rgb(56, 56, 61);
    text-decoration: underline;
  }
}

.icon {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: 0px 0px;
}
